<!doctype html>
<html>
	<head>
	    <title>SentenceCraft</title>  
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">      
        <script type="text/javascript" src="/static/content/js/angular.min.js"></script>
        <script type="text/javascript" src="/static/content/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/content/js/sentence-craft.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/content/styles/sentencecraft.css" />
	</head>

	<body ng-app="sentence_craft_app" ng-controller="view_controller">
        <header>
            <img id="pagetitle" src="../static/content/images/sentencecraft.png">
            <nav id="controls">
                <nav id="modes">
                    <button type="button" id="write" class="switchmode" ng-click="view_start_new_sentence_panel()">Start</button>
                    <button type="button" id="start" class="switchmode" ng-click="view_continue_list_panel()">Continue</button>
                    <button type="button" id="view" class="switchmode" ng-click="view_sentence_list_panel()">View</button>
                </nav>
                <nav id="lexemes">
                    <button type="button" id="sentence" class="switchlexeme active">Sentence</button>
                    <button type="button" id="paragraph" class="switchlexeme">Paragraph</button>
                </nav>
            </nav>
        </header>
        
        <div ng-switch on="operation_type">
            <div ng-switch-when="StartNewSentence">
                <main>
                    <section id="text">
                        <input id="entry" value="Today's dinner " ng-model="model.sentence_start_text"/>
                    </section>
                    <section id="tags">
                        <button ng_click="add_tag()">Add Tag</button>
                        <button ng_click="remove_tag()">Remove Tag</button>
                        <section class="input-group">
                            <input class="tag" type="text" ng-repeat="input in model.tag_list track by $index" ng-model="model.tag_list[$index]"/>
                        </section>
                     
                    </section>
                    <button type="submit" id="write" class="submit" ng-click="start_new_sentence_api_call()">WRITE</button>
                </main>
            </div>
            <div ng-switch-when="ViewSentenceList" > 
                <main>
                        <section id="tags2">
                        <button ng_click="add_tag()">Add Tag</button>
                        <button ng_click="remove_tag()">Remove Tag</button>

                        <section class="input-group">
                            <input class="tag" type="text" ng-repeat="input in model.tag_list track by $index" ng-model="model.tag_list[$index]"/>
                        </section>
                     
                    </section>

                    <ul>
                        <li ng-repeat="sentence in data">
                            {[sentence]}
                        </li>
                    </ul>
                    <button type="submit" id="search" class="submit" ng-click="view_sentence_list_panel()">VIEW</button>
                </main>
            </div>
            <div ng-switch-when="ContinueSentence">
                <main>
                    <section id="continue-text">
                      <input id="entry" ng-model="model.sentence_continue_text"/>
                    </section>  
                    <button type="submit" id="continue" class="submit" ng-click="continue_sentence_api_call(false)">CONTINUE</button>
                    <button type="submit" id="complete" class="submit" ng-click="continue_sentence_api_call(true)">COMPLETE</button>
                </main>
            </div>
            <div ng-switch-when="ContinueAnother"> 
                <main>
                    <h2>Sentence successfully modified. Continue/complete another sentence?</h2>
                    <button type="submit" id="complete-yes" class="submit" ng-click="view_continue_list_panel()">YES</button>
                    <button type="submit" id="complete-no" class="submit" ng-click="view_start_new_sentence_panel()">NO</button>
                </main>
            </div>
            <div ng-switch-when="SuccessfulComplete">
                <main>
                    <h2>Sentence successfully completed. Start another?</h2>
                    <button type="submit" id="start-yes" class="submit" ng-click="view_start_new_sentence_panel()">YES</button>
                </main>
            </div>
            <div ng-switch-when="FailedStart">
                <main>
                    <h2>Failed to start sentence. Try again?</h2>
                    <button type="submit" id="try-yes" class="submit" ng-click="view_start_new_sentence_panel()">YES</button>
                </main>
            </div>
            <div ng-switch-when="NoneToComplete">
                <main>
                    <h2>No sentences left to complete. You should consider starting one.</h2>
                    <button type="submit" id="start-new" class="submit" ng-click="view_start_new_sentence_panel()">START</button>
                </main>
            </div>
        </div>
	</body>
</html>
