<!doctype html>
<html>
	<head>
	    <title>SentenceCraft</title>  
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">      
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/content/styles/sentencecraft.css" />
	</head>

	<body ng-app="sentence_craft_app" ng-controller="view_controller">
        <header>
            <img id="pagetitle" src="../static/content/images/sentencecraft.png">
            <nav id="controls">
                <nav id="modes">
                    <button type="button" id="write" class="switchmode" ng-click="view_start_new_sentence_panel()">Start</button>
                    <button type="button" id="start" class="switchmode active">Continue</button>
                    <button type="button" id="view" class="switchmode" ng-click="view_sentence_list_panel()">View</button>
                </nav>
                <nav id="lexemes">
                    <button type="button" id="sentence" class="switchlexeme active">Sentence</button>
                    <button type="button" id="paragraph" class="switchlexeme">Paragraph</button>
                </nav>
            </nav>
        </header>
        <div ng-switch on="operation_type">
            <div ng-switch-when="StartNewSentence">
                <main ng-controller="start_new_sentence_controller">
                    <section id="text">
                        <input id="entry" value="Today's dinner " ng-model="sentence_start_text"/>
                    </section>
                    <section id="tags">
                        <button ng_click="add_new_tag()">Add new tag</button>
                        <section class="input-group">
                            <input class="tag" type="text" ng-repeat="input in tag_list track by $index" ng-model="tag_list[$index]">
                        </section>
                     
                    </section>
                    <!--<section id="tags">
                        Tags:
                        <input class="tag" value="cheese" />
                        <input class="tag" value="macaroni" />
                        <button type="button" id="moretags">+</button>
                    </section>-->
                    <button type="submit" id="write" class="submit" ng-click="start_new_sentence_api_call()">WRITE</button>
                </main>
            </div>
            <div ng-switch-when="ViewSentenceList" ng-controller="view_sentences_controller">
                <main>
                    <p>Greeting: {greeting}</p>
                    <!--<ul id="lexlist" ng-repeat="sentence in sentence_list">
                        <li>Sentence : {{ sentence }}</li>
                        
                    </ul>-->
                    
                </main>
            </div>
        </div>

        <script>
            var app = angular.module('sentence_craft_app', []);
            app.controller('view_controller', function ($scope,$http,$window) {
                $scope.operation_type = 'StartNewSentence';

                $scope.add_new_tag = function () {
                    console.log("Here!");
                    if ($scope.tag_list == undefined){
                        console.log("Null found");
                        $scope.tag_list = [''];
                    }                        
                    else {
                        console.log($scope.tag_list.length);
                        if ($scope.tag_list[($scope.tag_list.length-1)] == '') {
                            console.log("Please add the tag text!");
                            $window.alert("Please add the tag text!");
                        }
                        else {
                            $scope.tag_list.push('');
                        }                        
                    }
                };

                console.log("Entered view controler");
                $scope.view_start_new_sentence_panel = function () {
                    $scope.operation_type = 'StartNewSentence';
                    console.log("Entered write sentences controler");                    
                }

                $scope.view_sentence_list_panel = function () {
                    $scope.operation_type = 'ViewSentenceList';

                    console.log("Entered view sentences controler");
                    $http({
                        url: 'http://127.0.0.1:5000/view-sentences/',
                        method: "GET"
                        })
                        .then(function (response,data) {
                            console.log(response);
                            $scope.sentence_list = response.data.lexemes;
                            console.log($scope.sentence_list);
                            $scope.greeting = "Hello!";
                        },
                        function (response) { // optional
                            // failed
                        });
                }
            });

            app.controller('view_sentences_controller', function ($scope, $http) {             
                $scope.greeting = "Hello";
            });

            app.controller('start_new_sentence_controller', function ($scope,$http) {
                console.log("Entered start sentences controller");

                $scope.start_new_sentence_api_call = function () {                    
                    console.log("Entered write new sentences function");
                    console.log($scope.tag_list);                    
                    var data = $.param({
                        json: JSON.stringify({
                            sentence_start: $scope.sentence_start_text
                        })
                    });
                    $http({
                        url: 'http://127.0.0.1:5000/start-sentence/',
                            method: "POST",
                            data: $.param({ sentence_start: $scope.sentence_start_text, tags: $scope.tag_list.toString() }),
                            headers : { 'Content-Type' : 'application/x-www-form-urlencoded' }
                        })
                        .then(function (data,response) {
                            
                        },
                        function (response) { // optional
                            // failed
                        });

                }
            });
        </script>
	</body>
</html>
